@page
@model IntroduccionRazor.Pages.CondicionalesModel
@{
    var calificacion = 8;
    var precio = 25;
}
<h3>Instrucciones condicionales</h3>
<p>Tu calificación es de: @calificacion</p>

@if(calificacion >= 8)
    {
        <p>Ya pasaste</p>
    }
    else
    {
        <p>Estás en recuperación</p>
    }
<br />

<h3>Estructuras condicionales if - else</h3>

@if(precio >= 30)
{
    <p>El precio es alto</p>
}
else if(precio > 20 && precio < 30)
{
    <p>El precio es normnal</p>
}
else
{
    <p>El precio es bajo</p>
}
<br />

<h3>Estructuras condicionales Múltiples Switch-Case</h3>

@{
    var diaSemana = DateTime.Now.DayOfWeek;
    var dia = diaSemana.ToString();
    var mensaje = "";
}

@switch (dia)
{
    case "Monday":
        mensaje = "Este es el primer día de la semana";
        break;
    case "Thursday":
        mensaje = "Solo falta un día para el viernes";
        break;
    case "Friday":
        mensaje = "Hoy es viernes y el cuerpo...";
        break;
    default:
        mensaje = "Un día más de la semana";
        break;
}

<p>@mensaje</p>

