@page
@model IntroduccionRazor.Pages.HolaMundoRazorModel
@{
    ViewData["Title"] = "Hola mundo";
}

<!-- Escribimos un mensaje utilizando sintaxis de Razor -->

@{
    var mensaje = "Hola mundo desde ASP .NET Core";
}

<p>Este es un mensaje de Bienvenida @mensaje</p>
